{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
  <h1 class="heading-large">
    {{serviceName}} (sick note)
  </h1>

  <p class="lede">
    Use this service to send in a copy of your fit note (sick note) for your Employment and Support Allowance claim.
  </p>

  <form action="{{ prototype.current.path }}/take-photo" method="post">

  <div class="form-group" data-required data-error="Select an answer">
    <fieldset class="inline">
      <legend>
        <span class="form-label-bold">
          Is it printed on the front and the back?
        </span>
      </legend>
     <label class="block-label" for="radio-inline-1a">
       <input id="radio-inline-1a" type="radio" name="radio_inline_group" value="Yes">
        Yes
      </label>
     <label class="block-label" for="radio-inline-2a">
        <input id="radio-inline-2a" type="radio" name="radio_inline_group" value="No">
        No
      </label>
    </fieldset>
  </div>

  <!-- National Insurance number -->
  <div class="form-group" data-required data-error="Enter your National Insurance number">
    <label class="form-label" for="niNumber">
      National Insurance number
      <!-- <span class="form-hint">
        For example, 'VO 12 34 56 D'.
      </span> -->
    </label>
    <input type="text" class="form-control" name="niNumber" id="niNumber" value="">
  </div>

  <!-- Mobile phone number -->
  <div class="form-group">
    <label class="form-label" for="mobileNumber">
      Mobile number &mdash; if you want text reminders
      <!-- <span class="form-hint">
        If you want text reminders
      </span> -->
    </label>
    <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" value="">
  </div>

  <!-- <p>You'll need:</p>

  <ul class="list list-bullet">
    <li>your fit note</li>
    <li>your National Insurance number</li>
  </ul>
 -->
    <button type="submit" class="button">Continue</button>

  </form>

  {% endblock %}

  {% block secondary %}
  {% endblock %}

  {% block body_end %}

    {{ super() }}

    <script src="/public/javascripts/validate.js"></script>

  {% endblock %}
