{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

  {% include "../../../../includes/error-summary.html" %}

  <h1 class="heading-large">
    Mobile number
  </h1>

  <p>If you want text reminders</p>

  <form action="{{ prototype.current.path }}complete" method="post">

     <!-- Mobile phone number -->
     <div class="form-group">
       <label class="form-label-bold visuallyhidden" for="mobileNumber">
         Mobile number
         <span class="form-hint">
           If you want text reminders
         </span>
       </label>
       <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" value="">
     </div>

    <!-- Primary buttons, secondary links -->
    <div class="form-group">
        <input type="submit" class="button" value="Send">
    </div>

  </form>


{% endblock %}

{% block secondary %}
{% endblock %}

{% block body_end %}

  {{ super() }}

  <script src="/public/javascripts/validate.js"></script>

{% endblock %}
